<mat-toolbar class="matNav">
    <button mat-button routerLink="/">
      <img src="./../../../assets/images/logoUPHoteis.png"  width="100%" height="100%"   alt="Logo" class="logo">
    </button>
    <button  class="navBtn" mat-button routerLink="/hoteis">Hoteis</button>
    <button  class="navBtn" mat-button routerLink="/quartos">Quartos</button>
    <button  class="navBtn" mat-button routerLink="/reservas">Reservas</button>
    <button  class="navBtn"mat-button routerLink="/clientes">Clientes</button>
    <button  class="navBtn"mat-button routerLink="/funcionarios">Funcionários</button>
  </mat-toolbar>
  