/* header.component.scss */
mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    .logo {
      max-height: 100px;
    }
  
    button {
      color: white;
      margin: 0 4px;
    }
  }
  
  .matNav{
    background-color: #0852C5;
  }
  .navBtn{
    color: #fff !important
  }